body {
  background-image: url(./messageimages/glitter3.gif);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

mark {
  background-color: #D8BFD8;
}

.crystalball {
  position: relative;
  text-align: center;
}

.fortunecenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  text-align: center;
  font-family: 'Overpass', sans-serif;
}

.button {
  text-align: center;
  font-family: 'Overpass', sans-serif;

}

#fortune {
  font-family: 'Overpass', sans-serif;

}
